{% extends "../base.html" %}

{% load static %}

{% block content %}

<div class="hero hero3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
            </div>
        </div>
    </div>
</div>
<!-- celebrity single section-->

<div class="page-single movie-single cebleb-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="mv-ceb">
                    {% if author.image %}
                        <img src="{{ author.image }}" alt="">
                    {% else %}
                        <img src="{% static 'images/no-image.png' %}" alt="">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct">
                    <h1 class="bd-hd">{{ author.label }}</h1>
                    {% if author.nationality %}
                        <p class="ceb-single">{{ author.nationality }}</p>
                    {% endif %}
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overviewceb">Présentation</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="overviewceb" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p>{{ author.comment }}</p>
                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12">
                                            <div class="sb-it">
                                                <h6>Site web: </h6>
                                                <p><a href="{{ author.website }}">{{ author.website }}</a></p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Date de naissance: </h6>
                                                <p>{{ author.birthdate }}</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Lieu de naissance: </h6>
                                                <p>{{ author.birthplace }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- celebrity single section-->

{% endblock %}